/*///////////*//*///////////*//*///////////*/
/*///////////*//*GLOBAL CSS*//*///////////*/
/*//////////*//*///////////*//*///////////*/

/*



*/

* {
  margin: 15px; /*removes all default margin rules*/
  padding: 0px; /*removes all default padding rules*/
  box-sizing: border-box; /*causes less issues with other code*/
}


a:link, a:visited { /*colour of nav links before being highlighted by a cursor*/
  list-style: none;
  color: white;
}

a:hover { /*colour of nav links after being highlighted by a cursor*/
  color: black;
}

/*IMAGE CSS*/
img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth; /*allows all automatic scrolling to be smooth instead of instant therefore creating a less flat feel to the page and making the site feel more natural and smooth*/
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*HOMEPAGE CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

/*HOME TITLE*/
.title {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  text-align: left;
  font-size: 14px;
}


/*HOME PARAGRAPH 1*/
.paragraph {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  text-align: left;
}















/*////////////*//*///////////*//*///////////*/
/*////////*//*ANIMAL CROSSING CSS*//*///////*/
/*///////////*//*///////////*//*///////////*/

#acnh-anchors {
  list-style: none;
  text-align: left;
  background-color: CornflowerBlue;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  font-size: 15px;
}

/*ACNH TITLE*/
#acnhtitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

/*ACNH SUBTITLE*/
#acnhsubtitle1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}


/*ACNH PARAGRAPH*/
.acnhparagraph1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

/*ACNH SUBTITLE*/
#acnhsubtitle2 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

/*ACNH SUBTITLE*/
#acnhsubtitle2 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}


/*ACNH PARAGRAPH*/
.acnhparagraph2 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

/*ACNH SUBTITLE*/
#acnhsubtitle3 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}


/*ACNH PARAGRAPH*/
.acnhparagraph3 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.newhorizonsimage {
  max-width: 100%;
  padding: 10px;
}

/*ACNH SUBTITLE*/
#acnhsubtitle4 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}


/*ACNH PARAGRAPH*/
.acnhparagraph4 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

/*ACNH SUBTITLE*/
#acnhsubtitle5 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}


/*ACNH PARAGRAPH*/
.acnhparagraph5 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.animalcrossingtitles {
  color: Magenta;
}
/*////////////*//*///////////*//*///////////*/
/*///////////*//*TROPICANA CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

#tropicanatitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

.tropicanaparagraph1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

#tropicana-anchors {
  list-style: none;
  text-align: left;
  background-color: CornflowerBlue;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  font-size: 15px;
}

#islandentrance{
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph2 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage1 {
  max-width: 100%;
  padding: 10px;
}

#buildings {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph3 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.residentservices {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph4 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage2 {
  max-width: 100%;
  padding: 10px;
}

.airport {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph5 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage3 {
  max-width: 100%;
  padding: 10px;
}

.museum {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph6 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage3 {
  max-width: 100%;
  padding: 10px;
}

.shop {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph7 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage4 {
  max-width: 100%;
  padding: 10px;
}

.tailors {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph8 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage5 {
  max-width: 100%;
  padding: 10px;
}

.campsite {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph9 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.tropicanaimage6 {
  max-width: 100%;
  padding: 10px;
}

.tropicanaimage7 {
  max-width: 100%;
  padding: 10px;
}

.tropicanaimage8 {
  max-width: 100%;
  padding: 10px;
}

#dailyroutine {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph10 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

#islandresidents {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  scroll-behavior: smooth;
}

.tropicanaparagraph11 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.residenttitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

.residentimage {
  padding: 10px;
  max-width: 50%;
  display: flex;
}

.residentdetails {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.residentparagraph {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

#nativefruit {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.nativefruitimage {
  padding: 10px;
}

#islandmusic {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.musictitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

.islandmusicparagraph {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.islandmusicaudio {
  width: 100%;
  padding: 10px;
}

.musiclink {
  background-color: #5E9FF2;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.backtotop {
  font-family: 'Poppins', sans-serif;
  background-color: #5E9FF2;
  text-align: center;
  padding: 10px;
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*CONTACT CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

#contacttitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

.contactsubtitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

.contactparagraphs {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

/*CONTACT PARAGRAPH 1*/
.contactParagraph1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.socialbuttons {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
  padding: 10px;
  display: flex;
}

.socialdescriptions {
  padding: 10px;
  font-size: 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background-image: linear-gradient(#4139e0,#d82452,#f06c2f,#f8cb60); /*colours extracted directly from the original instagram logo using photoshop and applied into a linear gradient*/
  color: white;
  width: 55px;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 55px;
  border-radius: 50%;
}

.fa-facebook {
  background: #1778F2;
  color: white;
  width: 55px;
  border-radius: 50%;
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*ABOUT CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

.abouttitle {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
}

.aboutparagraph1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.aboutparagraph2 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

.aboutimage1 {
  padding: 10px;
}

.aboutimage2 {
  padding: 10px;
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*TERMS OF SERVICE CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

.terms {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: justify;
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*FOOTER CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/
.footerText {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: center;
  background-color: DodgerBlue;
  min-height: 8vh; /*minimum height from the top of the page measured in viewport height */
  z-index: 0;
  background-color: #5E9FF2;
}


/*FOOTER LINKS*/
.footerLinks {
  text-decoration: none;
  font-size: 12px;
  z-index: 0;
}
