/*///////////*//*///////////*//*///////////*/
/*///////////*//*GLOBAL CSS*//*///////////*/
/*//////////*//*///////////*//*///////////*/


* {
  margin: 0px; /*removes all default margin rules*/
  padding: 0px; /*removes all default padding rules*/
  box-sizing: border-box; /*causes less issues with other code*/
}

a:link { /*colour of nav links before being highlighted by a cursor*/
  list-style: none;
  color: #6495ED;
}

a:link, a:visited { /*colour of nav links before being highlighted by a cursor*/
  list-style: none;
  color: #6495ED;
}

a:hover { /*colour of nav links after being highlighted by a cursor*/
  color: black;
}

/*IMAGE CSS*/
img {
  max-width: 100%;
  margin: 10px;
  padding: 15px;
}

html {
  scroll-behavior: smooth; /*allows all automatic scrolling to be smooth instead of instant therefore creating a less flat feel to the page and making the site feel more natural and smooth*/
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*HOMEPAGE CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

/*TITLE*/
.title {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  margin: 10px;
}


/*PARAGRAPH 1*/
.paragraph {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*FOOTER CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/
.footerText {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: center;
  background-color: DodgerBlue;
  min-height: 8vh; /*minimum height from the top of the page measured in viewport height */
  z-index: 0;
  background-color: #5E9FF2;
}


/*FOOTER LINKS*/
.footerLinks {
  text-decoration: none;
  font-size: 12px;
  z-index: 0;
}
