/*///////////*//*///////////*//*///////////*/
/*///////////*//*GLOBAL CSS*//*///////////*/
/*//////////*//*///////////*//*///////////*/


* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box; 
}

a:link { 
  list-style: none;
  color: #6495ED;
}

a:link, a:visited { 
  list-style: none;
  color: #6495ED;
}

a:hover { 
  color: black;
}

/*IMAGE CSS*/
img {
  max-width: 100%;
  margin: 10px;
  padding: 15px;
}

html {
  scroll-behavior: smooth; 
}

/*////////////*//*///////////*//*///////////*/
/*///////////*//*HOMEPAGE CSS*//*///////////*/
/*///////////*//*///////////*//*///////////*/

/*TITLE*/
.title {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  margin: 10px;
}


/*PARAGRAPH*/
.paragraph {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 10px;
  text-align: left;
}
